<div id="<%= dom_id machine %>" class="w-full sm:w-auto my-5 space-y-5">
  <div>
    <strong class="block font-medium mb-1">Annual maintenance cost:</strong>
    <%= machine.annual_maintenance_cost %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Build volume x:</strong>
    <%= machine.build_volume_x %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Build volume y:</strong>
    <%= machine.build_volume_y %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Build volume z:</strong>
    <%= machine.build_volume_z %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Laser power:</strong>
    <%= machine.laser_power %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Lifespan years:</strong>
    <%= machine.lifespan_years %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Model number:</strong>
    <%= machine.model_number %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Name:</strong>
    <%= machine.name %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Purchase price:</strong>
    <%= machine.purchase_price %>
  </div>
</div>
